:host {
    font-family: 'Courier New', monospace;
    letter-spacing: 2px;
}

.analog-display {
    font-size: 5rem;
    font-family: 'analog', sans-serif;
    animation: analog-display-animation 3s infinite alternate;

}

.analog-border {
   box-shadow: 0 0 12px 5px #ff2414;
}


@keyframes analog-display-animation {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow:
            0 0 1px,
            0 0 5px,
            0 0 10px,
            0 0 15px;
    }

    20%, 24%, 55% {        
      text-shadow: none;
  }  
}